{% extends 'base.html.twig' %}

{% block title %}Календарь{% endblock %}

{% block body %}
<div class="container">
    <h1>Календарь событий</h1>

    {# Events #}
    {% include '@Calendar/widget/calendar.html.twig' %}
</div>
{% endblock %}
