<footer class="footer">
    <a class="a-copyright"
      href="https://bravik.ru/?utm_source=symfony-bundle-tutorial&utm_medium=tutorial-app&utm_content=footer"
      target="_blank"
    >© Roman Naumenko, 2020</a>
</footer>